<% include partials/headerloggedin %> 

<div class="formedits">

<p class="textcentered" >Blogs by <%= foundUser.firstName %> <%=foundUser.lastName%> 
<img id="foo" class="profilepic" src="../images/<%=foundUser.userName%>.jpg" onerror="this.onerror=null;this.src='../images/default.png';"></p>
    <ul>
        <% userBlogs.reverse().forEach(function(blog) { %>
            <li>
                <a class="link" href="/blogs/<%=blog.id%>">
                <strong><%= blog.title %></strong></a>
                <% var array = JSON.stringify(blog.createdAt) %>
                    <% var newarray = "" %>
                    <% for (var i = 1; i < 11; i++) { %>
                        <% newarray += array[i]; %>
                        <%console.log(newarray) %>
                    <% } %>
                (<%= newarray %>)
            </li>
         <% }) %>
    </ul>    
</div>

<% include partials/footer%>